.container {
  width: 100%;
  padding: 12px 0;
  background-color: aquamarine;

  border-top: solid 2px var(--color-black-80);
  .links {
    max-width: var(--footer-container-max-width);
    margin: 0 auto;
    padding: 20px 0 28px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;

    a {
      padding: 12px;

      color: var(--color-white-80);
      background-color: var(--color-black-90);
      border-radius: 12px;

      transition: 0.2s;
      &:hover {
        background-color: var(--color-black-80);
      }
    }
  }

  p {
    width: fit-content;
    margin: 0 auto;
  }
}
